@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
  color: #333232;
  background-color: #fbfbfb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; /*запрет выделения img*/
}

input,
button,
textarea,
select {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
}

#mainIntroBlock {
  background-image: url(../../public/main/img_mainIntro.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#textIntroBlock {
  font-family: "Post No Bills Jaffna Bold", sans-serif;
}

#textIntroBlock::after {
  content: "";

  position: absolute;
  bottom: -0.2rem;
  left: 0;
  z-index: 1;

  height: 1px;
  width: 100%;
  background: #fff;
}

#subTitleLine::after {
  content: "";

  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  height: 1px;
  width: 120%;
  background: #fff;
}

.hide-scrollbar-y {
  overflow-y: scroll;
  scrollbar-width: none; /* Для Firefox */
}

.hide-scrollbar-y::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Edge */
}
